body{
	margin: 0;
}

#Full {
	width: 100%;
	max-height: 100%;
	background-color: white;
}

#Topsection {
	display: flex;
	flex-direction: row;
}


#Section0 {
	position: relative;
	background-color: white;
}


.header-image {
	width: 100%;
  height: auto;
  margin-top: 10px;
}

#writername {
	float: right;
	margin-right: 20px;
	color: #e6c222;
	font-family: "Didot";
}

  	
#ContentSection{
  position: relative;
  margin: 20px;
}

#Section1 {
	background-color: white;
	margin: 60px;
}

#Section2 {
	background-color: white;
	margin: 60px;
}

p {
   text-indent: 50px;
   text-align: left;
   margin-right: 60px;
   margin-left: 60px;
}

.p0 { text-indent: 2em; }
.p1 { text-indent: 4em; }
.p2 { text-indent: 15px;}
.p2A { text-indent: 8px;}
.p2B{ text-indent: 40px;}
.p3 { text-indent: 160px;}
.p4 { text-indent: 1em; }
.p5 {text-indent: 300px;}
.p6 {text-indent: 50px;}


#copyright {
	background-color: white;
	flex: 1;
	text-align: center;
}

#Section5 {
	background-color: white;
	text-align: center;
}

table, th, td {
  border:2px solid grey;
  vertical-align: center;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  border: 1px solid;
}

th {
  text-align: center;
  vertical-align: center;
  background-color: gold;
  
}

tr:hover {background-color: #d8e8c5;}


td {
  text-align: left;
  padding: 15px;
}

img {
  width: 70px; 
  height: 70px;
}

.left-title-cell{
  border-right: none;
  text-align: left;
}

.right-title-cell{
  border-left: none;
}



/* Changing name to only be on separate lines if screen is too small */
@media only screen and (min-width: 700px) {
  #writername br{
   display: none;
  }
}

/* Changing font size of name to get gradually smaller on smaller screens*/

/* Between 390px and 490px width screens, use font size of 20px */
@media only screen and (min-width: 390px) and (max-width: 490px) {
  #writername h1{
   font-size: 20px
  }
}

/* For screens smaller than 390px, use a font size of 16px */
@media only screen and (max-width: 390px) {
  #writername h1{
    font-size: 16px;
  }
}


/* For screens smaller than 590px wide, change main body of text to have smaller font size */
@media only screen and (max-width: 590px) {
  #Section1 p{
    font-size: 15px;

  }
}