
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  margin-top: 20px;
  Margin-left: 20px; 
  border: none;
  cursor: pointer;
  font-family: 'Merriweather';
}

.dropbtn:hover, .dropbtn:focus {
  Color: black;
}

.dropdown {
    position: relative;
    display: inline-block;	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Merriweather';
    left: 20px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
     background-color: #f1f1f1
}

.show {display:block;}

footer {
	border-top: 1px solid grey;
	font-size: 12px;
  text-align: center;
}

a {
  color: #d1b969;
}

#copyright {
	background-color: white;
	text-align: center;
  font-size: 14px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Changing name to only be on separate lines if screen is too small */
@media only screen and (min-width: 700px) {
  #writername br{
   display: none;
  }
}

/* Changing font size of name to get gradually smaller on smaller screens*/

/* Between 390px and 490px width screens, use font size of 20px */
@media only screen and (min-width: 390px) and (max-width: 490px) {
  #writername h1{
   font-size: 20px
  }
}

/* For screens smaller than 390px, use a font size of 16px */
@media only screen and (max-width: 390px) {
  #writername h1{
    font-size: 16px;
  }
}


/* For screens smaller than 590px wide, change main body of text to have smaller font size */
@media only screen and (max-width: 590px) {
  #Section1 p{
    font-size: 20px;
  
  }
}

a,
a:visited,
a:hover,
a:active {
  color: #e6c222 !important;
  text-decoration: underline;
}

footer, #copyright, #copyright p {
  font-size: 14px !important; /* Change 14px to your desired size */
}