body{
	margin-top: 0
}

#full {
	width: 100%;
	max-height: 100%;
	background-color: white;
	
}

#Section0 {
	background-color: white;
	
}

#writername {
	float: right;
	right: 20px;
	top: 20px;
	margin-right: 20px;
	color: #e6c222;
	font-family: "Didot";

}

#Section1 {
	background-color: white;
  margin: 60px;
}


.header-image {
	width: 100%;
  height: auto;
  margin-top: 10px;
}


#Section2 {
	background-color: white;
	margin: 40px;
}

#Section3 {
	background-color: #f5efe1;
	margin: 40px;
  font-size: 28px;
}

p {
  font-size: 18px;
  text-indent: 50px;
}


table, th, td {
  border:2px solid grey;
}

table {
  border-collapse: collapse;
  border: 1px solid;
}

th {
  text-align: center;
  background-color: #d9964a;
  padding: 1px; 
}

tr:hover {
  background-color: #d4dce8;
}


td {
  text-align: left;
  padding: 15px;
}

img {
  width: 70px; 
  height: 70px;
}

.left-title-cell{
  border-right: none;
  text-align: left;
  padding-left: 42px;
  
}

.right-title-cell{
  border-left: none;
}

 #Section4 {
	text-align: left;
	margin-left: 60px;
	margin-right: 30px;
	
}


#Section5 {
	background-color: white;
	flex: 1;
	float: left;
	
}

#Section6 {
	background-color: white;
	flex: 1;
	float: right; 
}

table {
  margin-bottom: 5px;
}


/* Changing name to only be on separate lines if screen is too small */
@media only screen and (min-width: 700px) {
  #writername br{
   display: none;
  }
}

/* Changing font size of name to get gradually smaller on smaller screens*/

/* Between 390px and 490px width screens, use font size of 20px */
@media only screen and (min-width: 390px) and (max-width: 490px) {
  #writername h1{
   font-size: 20px
  }
}

/* For screens smaller than 390px, use a font size of 16px */
@media only screen and (max-width: 390px) {
  #writername h1{
    font-size: 16px;
  }
}


/* For screens smaller than 590px wide, change main body of text to have smaller font size */
@media only screen and (max-width: 590px) {
  #Section1 p{
    font-size: 15px;

  }
}