body{
	margin: 0px;
}

#E{
	width: 100%;
	max-height: 100%;
	background-color: red;
}

#A{
	background-color: blue;
	height: 40vh;
}

#header-image{
	width: 100%;
	height: 100%;
	background-image: url("examplelandscrape.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#dropdown{
	position: absolute;
	left: 0;
	top: 0;
}

.dropbtn {
  	background-color: #cf3636;
  	color: white;
  	padding: 16px;
  	font-size: 16px;
  	border: none;
}

.dropdown-content {
	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	font-family: 'Merriweather';
	opacity: .75;
}

.dropdown-content a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown-content a:hover {
	background-color: #afb0ba;
}

#dropdown:hover .dropdown-content {
	  display: block;
	opacity: 1;
}

.dropdown:hover .dropbtn {
	  background-color: #598699;
}

#B{
	background-color: green;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#C {
	background-color: maroon;
	flex: 1;
}

#D {
	background-color: chartreuse;
	flex: 2;
}