body{
	margin-top: 0
}

#full {
	width: 100%;
	background-color: white;
	
}

#Section0 {
	background-color: white;
	
}

#writername {
	float: right;
	right: 20px;
	top: 20px;
	margin-right: 20px;
	color: #e6c222;
	font-family: "Didot";

}

#Section1 {
	background-color: white;
	
}

.header-image {
	width: 100%;
    height: auto;
    margin-top: 10px;
}

#Section2 {
  background-color: white;
}

p {
  font-size: 22px;
  text-indent: 50px;
}

#copyright {
	background-color: white;
	flex: 1;
	text-align: center;
}


