body{
	margin-top: 0
}

#full {
	width: 100%;
	max-height: 100%;
	background-color: white;
	
}

#Section0 {
	background-color: white;
	
}

#writername {
	float: right;
	right: 20px;
	top: 20px;
	margin-right: 20px;
	color: #e6c222;
	font-family: "Didot";

}

#Section1 {
	background-color: white;
	
}

.header-image {
	width: 100%;
    height: auto;
    margin-top: 10px;
}



p {
  font-size: 22px;
  text-indent: 50px;
}


/* Changing name to only be on separate lines if screen is too small */
@media only screen and (min-width: 700px) {
  #writername br{
   display: none;
  }
}

/* Changing font size of name to get gradually smaller on smaller screens*/

/* Between 390px and 490px width screens, use font size of 20px */
@media only screen and (min-width: 390px) and (max-width: 490px) {
  #writername h1{
   font-size: 20px
  }
}

/* For screens smaller than 390px, use a font size of 16px */
@media only screen and (max-width: 390px) {
  #writername h1{
    font-size: 16px;
  }
}


/* For screens smaller than 590px wide, change main body of text to have smaller font size */
@media only screen and (max-width: 590px) {
  #Section1 p{
    font-size: 15px;

  }
}